<app-header-menu></app-header-menu>
<div class="container">
  <h1>{{title}}</h1>
  <p>User Name: {{userName}}</p>
  <span>{{email}}</span>
  <div>
    <input type="text" name="" id="" class="form-control" #action>
    <button class="btn btn-success" (click)="addNewItem(action.value)">Add New</button>
  </div>
  <div>
    <button class="btn btn-outline-primary" (click)="filterList()">{{getButtonText()}}</button>
  </div>
  <div *ngFor="let item of todoItems">
    <div>
      <input type="checkbox" [(ngModel)]="item.isCompleted" name="" id=""> {{item.actionName}}
      <span class="badge rounded-pill " [ngClass]="item.isCompleted ? 'bg-success':'bg-danger' ">{{item.isCompleted ?
        "Done":"Not Done"}}</span>

    </div>
    <hr>
  </div>

  <input type="text" [(ngModel)]="message">
  <p>{{message}}</p>
</div>